body {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 98vw;
	height: 60vh;
	background-color: black;
}
#container {
	width: 2in;
	border: 2px solid black;
	border-radius: 5px;
	background-color: black;
}
#keyboard {
	height: 2.25in;
}
#keyGrid {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns:
		auto
		auto
		auto
		auto;
	grid-template-rows:
		auto
		auto
		auto
		auto
		auto;
}
button {
	width: 100%;
	height: 100%;
	font-weight: bold;
	text-shadow: -0.5px 0.5px 0px white, 0.5px 0.5px 0px white,
		0.5px -0.5px 0px white, -0.5px -0.5px 0px white;
}
#viewerHolder {
	padding-left: 0.125in;
	padding-right: 0.125in;
	background-color: white;
	border-radius: 5px;
}
#screen {
	height: 0.5in;
	width: 100%;
	border: 0;
	margin: 0;
	padding: 0;
	text-align: right;
	font-family: "Courier New", monospace;
	background-color: white;
}
.digit {
	background-color: grey;
}
#btnC {
	background-color: darkgoldenrod;
}
#btnD {
	background-color: darkred;
}
#btn\= {
	background-color: dodgerblue;
}
#btn\(,
#btn\) {
	background-color: lightgrey;
}
#btn\+,
#btn\-,
#btn\*,
#btn\/ {
	background-color: green;
}
#btn\. {
	background-color: white;
}
button:active {
	background-color: red;
}
